body {
    min-height: 100vh;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efe8e8 ;
    font-family: 'MuseoModerno', cursive;
    
}



header{
    position: fixed;
    top: 0;
    margin: 0 auto;
}

.buttons{

    position: fixed;
    bottom: 50px;
    margin: 0 auto;
    display: inline-block;

}

.watchFrame {

    position: relative;
    z-index: 1;
    height: 300px;
    width: 300px;
    border: solid 2px black;
    border-radius: 50%;
}

#timer{
   
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 20%;
    margin: 0 auto;
    font-size: 2rem;
    color: black;
  
    
}